html {
	box-sizing: border-box;
}

html, body {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica", sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
  }

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #F8FAF9;
	margin-right: 25px;
}


.container {
	max-width: 1000px;
	margin: 0 auto;
}

#header {
	background-color: #1F2937;
	height: 400px;
	padding: 30px;
	margin-bottom: 60px;
}

#main {
	margin: 0 auto;
	max-width: 850px;
	padding-bottom: 90px;
}

#footer {
	background-color: #1F2937;
	color: #F8FAF9;
	height: 80px;
	text-align: center;
}

.logo {
	color: #F9FAF8;
	font-size: 24px;
}


.nav-bar {
	display: flex;
	justify-content: space-between;
}

.nav-menu {
	display: flex;
}

.header-info {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}

.header-main-text h1 {
	color: #F9FAF8;
	font-size: 48px;
	font-weight: bold;
}

.header-main-text p {
	color: #E5E7EB;
	font-size: 18px;
}

.header-img {
	width: 450px;
	height: 250px;
}

.btn {
	background-color: #3882F6;
	border: none;
	border-radius: 5px;
	color: #F9FAF8;
	font-weight: bold;
	padding: 10px 30px;
}

.btn:hover {
	cursor: pointer;
}

.products {
	display: flex;
	justify-content: space-between;
	gap: 3;
}

#main h2 {
	color: #1F2937;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
}

.img-thumbnail {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img-thumbnail img {
	width: 150px;
}

.img-thumbnail p {
	text-align: center;
}

.quote {
	background-color: #E5E7EB;
	color: #1F2937;
	padding: 80px 140px;
}

.quote blockquote {
	text-align: justify;
	font-size: 36px;
	font-style: italic;
	font-weight: lighter;
}

.quote p {
	font-size: 18px;
	font-weight: 700;
	text-align: right;
	margin-right: 30px;
}

.action {
	color: #F8FAF9;
	background-color: #3882F6;
	border-radius: 5px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 42px 0;
	margin: 60px 0;
}

.action p, .action h4 {
	margin: 0;
}

.action button.btn {
	border: 1px solid #F8FAF9;
}

.action button.btn:hover {
	border: 1px solid #3882F6;
	background-color: #F8FAF9;
	color: #3882F6;
}

#footer p {
	padding-top: 40px;
}