html, body {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica", sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #F8FAF9;
	margin-right: 25px;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

#header {
	background-color: #1F2937;
	height: 400px;
	padding: 30px;
	margin-bottom: 60px;
}

#main {
	margin: 0 auto;
	max-width: 850px;

}

.logo {
	color: #F9FAF8;
	font-size: 24px;
}


.nav-bar {
	display: flex;
	justify-content: space-between;
}

.nav-menu {
	display: flex;
}

.header-info {
	display: flex;
	margin-top: 60px;
}

.header-main-text {
	max-width: 400px;
	margin-right: 130px;
}

.header-main-text h1 {
	color: #F9FAF8;
	font-size: 48px;
	font-weight: bold;
}

.header-main-text p {
	color: #E5E7EB;
	font-size: 18px;
}

.header-img {
	width: 450px;
	height: 250px;
}

.btn {
	background-color: #3882F6;
	border: none;
	border-radius: 5px;
	color: #F9FAF8;
	font-weight: bold;
	padding: 10px 30px;
}

.products {
	display: flex;
	justify-content: space-between;
	gap: 3;
}

.img-thumbnail img {
	width: 150px;
	justify-content: center;
}

.img-thumbnail p {
	text-align: center;
	justify-content: center;
}
